@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply relative w-full h-full;
  @apply p-0 m-0;
}

.cont-dark {
  @apply bg-neutral-800 text-neutral-100;
}

.main {
  @apply bg-neutral-700 text-neutral-100;
}

a {
  @apply text-sky-500;
  text-decoration: none;
}

input,
button,
.link-button {
  @apply px-3 py-2 rounded;
}

input,
button {
  @apply border-solid border border-neutral-900;
  @apply bg-neutral-800;
}

input:disabled,
button:disabled {
  @apply border-solid border border-neutral-600;
  @apply bg-neutral-500;
  @apply opacity-50;
}

input {
  @apply flex-1;
}

h2,
.icon-container {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

button:not(:disabled) {
  @apply bg-sky-500;
  @apply text-white;
}

button.secondary-button:not(:disabled) {
  @apply bg-neutral-500;
  @apply text-white;
}

.profile-picture {
  @apply block overflow-hidden;
  @apply w-10 h-10 rounded-full;
}

.pill {
  @apply block relative;
  @apply px-3 py-2;
}

.pill.sad {
  @apply bg-yellow-500;
  @apply text-white;
}

.pill.happy {
  @apply bg-green-500;
  @apply text-white;
}
